* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('./controllers.jpg');
    background-size: cover;
    padding: 25px;
}

.main {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left .game {
    font-size: 30px;
    font-weight: 700;
    filter: drop-shadow(0 0 5px white);
}

.left .logo {
    width: 70px;
    height: 60px;
}

.nav {
    display: flex;
    gap: 35px;
}

.nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover ,
.nav a.active {
    color: #c40094;
}

.home{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_content{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home_content h1 {
    font-size: 74px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0 0 5PX white);
    margin-bottom: 30px;

}
 .home_content button {
    width: 190px;
    height: 55px;
    background: #c40094;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
    
    
} 
.button .btn:hover {
    background: black;
    box-shadow: none;
   
}
.btn{
    margin-right: 10px;
    color: #fff;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
button#open-popup {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}